<h1>My New Year Resolution!</h1>

<% if user_signed_in? %>
   SOMETHING
<% else %>
    <p>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %> for the webapp.
    </p>
<% end %>