<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resolution.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resolution.description %>
</p>

<%= link_to 'Edit', edit_resolution_path(@resolution) %> |
<%= link_to 'Back', resolutions_path %>
